:root {
  --header-background: #{$white};
  --body-background: #{$lightGray};
  --text-color: #{$black};
  --input-color: #{$gray};
  --shadow-color: #{$lightGray2};
}

.light-theme {
  --header-background: #{$white};
  --body-background: #{$lightGray};
  --text-color: #{$black};
  --input-color: #{$gray};
  --shadow-color: #{$lightGray2};
}

.dark-theme {
  --header-background: #{$darkGray};
  --body-background: #{$veryDarkGray};
  --text-color: #{$white};
  --input-color: #{$white};
  --shadow-color: #{$veryDarkGray2};
}
