// colors
$darkModeElements: hsl(209, 23%, 22%);
$darkModeBackground: hsl(207, 26%, 17%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightModeBackground: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// font size
$homepageItems: 0.875rem;
$detailPage: 1rem;
$titleCard: 1.1rem;
$titleDetail: 1.5rem;

// font weight
$font-weights: (
  regular: 300,
  medium: 600,
  bold: 800,
);
