// colors
$black: hsl(200, 15%, 8%);
$veryDarkGray: hsl(207, 26%, 17%);
$veryDarkGray2: hsl(210, 26%, 15%);
$darkGray: hsl(209, 23%, 22%);
$gray: hsl(0, 0%, 52%);
$lightGray: hsl(0, 0%, 98%);
$lightGray2: hsl(0, 0%, 93%);
$white: hsl(0, 0%, 100%);

// font size
$homepageItems: 0.875rem;
$detailPage: 1rem;
$titleCard: 1.1rem;
$titleDetail: 1.5rem;

// font weight
$font-weights: (
  regular: 300,
  medium: 600,
  bold: 800,
);
