.card {
  height: 21.0625rem;
  width: 16.5625rem;
  display: flex;
  background-color: var(--header-background);
  flex-flow: column;
  gap: 1.5625rem;
  justify-self: center;

  &-img {
    height: 10rem;
    width: 16.5625rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  h2,
  ul {
    margin: 0 1.5625rem;
  }
}
