.filters {
  position: relative;
  width: 12.5rem;

  @include breakpoint-up(medium) {
    justify-self: end;
  }

  select {
    background-color: var(--header-background);
    color: var(--text-color);
    outline: none;
    border: none;
    height: 3rem;
    width: 12.5rem;
    padding-left: 1.5625rem;
    appearance: none;
    cursor: pointer;

    option {
      background-color: inherit;
      color: inherit;
      border: inherit;
      background: inherit;
      padding: 0;
      margin: 0;
    }
  }

  svg {
    top: 1rem;
    right: 1.25rem;
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    fill: var(--text-color);
  }
}
