.search {
  position: relative;

  input[type="text"] {
    height: 100%;
    width: 100%;
    max-width: 30rem;
    padding-left: 4.6875rem;
    padding-right: 2rem;
    border: none;
    outline: none;
  }

  svg {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 25%;
    left: 2rem;
    fill: var(--input-color);
  }
}
