body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--body-background);
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: $detailPage;
  font-weight: map-get($map: $font-weights, $key: bold);
}

h2 {
  font-size: $titleCard;
}

input,
select,
article {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 5px var(--shadow-color);
}

ul {
  list-style: none;
  padding: 0;
  line-height: 1.75;

  .li-title {
    font-weight: map-get($map: $font-weights, $key: medium);
  }
}

input {
  background-color: var(--header-background);
  color: var(--text-color);
}

input::placeholder {
  color: var(--input-color);
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--header-background);
  color: var(--text-color);
  font-size: $detailPage;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6875rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 3px 3px var(--shadow-color);

  svg {
    height: 1.2rem;
    width: 1.2rem;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.wrapper {
  width: 100%;
  max-width: 79.875rem;
  margin: 0 auto;
}

.back {
  height: 3rem;
  min-width: 8.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound-container {
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
