body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $lightModeBackground;
  color: $lightModeText;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: $detailPage;
  font-weight: map-get($map: $font-weights, $key: bold);
}

h2 {
  font-size: $titleCard;
}

input,
select,
article {
  border-radius: 0.5rem;
  box-shadow: 0px 3px 5px 0px rgb(236, 236, 236);
}

ul {
  list-style: none;
  padding: 0;
  line-height: 1.75;

  .li-title {
    font-weight: map-get($map: $font-weights, $key: medium);
  }
}

button {
  border: none;
  cursor: pointer;
  background-color: $white;
  color: $lightModeText;
  font-size: $detailPage;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6875rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 7px 1px #cacaca;

  svg {
    height: 1.2rem;
    width: 1.2rem;
  }
}

.wrapper {
  width: 100%;
  max-width: 79.875rem;
  margin: 0 auto;
}

.back {
  height: 3rem;
  min-width: 8.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
}
