.homepage-content {
  padding: 2rem 1rem;
  font-size: $homepageItems;

  @include breakpoint-up(medium) {
    padding: 3.125rem 1rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 3rem) 1fr;
    grid-gap: 2.5rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 3rem;

      .search {
        grid-column: 1 / span 2;
      }

      .cards-container {
        grid-column: 1 / span 3;
      }
    }

    @include breakpoint-up(large) {
      grid-gap: 3.125rem;
    }

    .cards-container {
      min-height: auto;
      width: 100%;
      margin: 0 auto;
      display: flex;
      gap: 2.5rem;
      flex-flow: row wrap;
      justify-content: center;

      @include breakpoint-up(medium) {
        gap: 3rem;
      }

      @include breakpoint-up(large) {
        justify-content: start;
      }
    }
  }
}
